body {
  background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=829&q=80");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 20px;
  font-family: Verdana, Tahoma;
}

.buttons {
  margin: 30px;
  padding: 100px;
  text-align: center;
}
#txt {
  text-align: center;
  margin-top: 7vw;
  height: 66px;
  word-spacing: 20px;
  letter-spacing: 3px;
  text-shadow: 4px 8px 4px #000000;
  color: rgb(255, 255, 255);
  font-size: 70px;
}
#btn {
  margin-right: 30px;
  margin-bottom: 50px;
}

img {
  height: 220px;
  width: 300px;
  margin-left: 800px;
  margin-top: -140px;
}
