body {
  background-image: url("https://images.unsplash.com/photo-1476973422084-e0fa66ff9456?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1141&q=80");
  background-size: cover;
  background-attachment: fixed;
  padding: 2vw;
  font-family: Verdana, Tahoma;
  text-align: center;
}
input {
  text-align: center;
  width: 30vw;
  height: 3vw;
  margin-top: 5vw;
  border-radius: 1.5vw;
  font-size: large;
}
#tasks-container {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmiro.medium.com%2Fmax%2F3002%2F1*dP81IJq-tGFxy1rIK3RYsg.png&f=1&nofb=1");
  width: 53vw;
  margin: 2vw;
  padding: 1vw;
  text-align: center;
  border-radius: 1vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  min-height: 0%;
  display: none;
}
#task-shown {
  background-color: rgb(255, 255, 255);
  color: rgb(16, 0, 73);
  width: 50vw;
  height: 3vw;
  padding-top: 1vw;
  display: inline-block;
  padding-bottom: 1vw;
  display: inline-block;
  border-radius: 1vw;
  text-align: center;
  margin: 1vw;
  font-size: large;
  background-image: url("https://images.unsplash.com/photo-1611325058432-30bee87d45c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
}

.btn-3 {
  background: linear-gradient(0deg, rgb(57, 0, 68) 0%, rgb(255, 65, 17) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border-radius: 1vw;
  font-size: large;
  color: rgb(255, 255, 255);
}
.btn-3:hover {
  background: linear-gradient(
    0deg,
    rgb(117, 24, 136) 0%,
    rgb(250, 126, 94) 100%
  );
  color: black;
  font-size: large;
}

.remove {
  width: 5vw;
  height: 3vw;
  color: rgb(255, 255, 255);
  background-color: rgb(77, 0, 54);
  border-radius: 5px;
  padding: 5px;
  font-family: "Lato", sans-serif;
  margin-left: 65%;
  margin-bottom: 80px;
  position: relative;
  z-index: 20;
}
.remove:hover {
  background-color: rgb(197, 39, 0);
  color: rgb(0, 0, 0);
}

.txt {
  color: rgb(0, 54, 54);
  text-align: center;
  padding-top: 2vw;
}
.txt1 {
  padding-top: 0.5vw;
  color: rgb(0, 54, 54);
}
